<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width'>
    <title>{% block title %}{% end %} / .labs { float: both }</title>
    <link rel='stylesheet' type='text/css' href='/assets/style.css'>
    <script src='/assets/prefixfree.min.js'></script>
    {% block head %}{% end %}{% block headl %}{% end %}
  </head>
  <body>
    <header>
      <h1><a href='/'>.labs { float: both }</a></h1>
    </header>
    <section role='main' id='content'>
      {% block content %}
      {% end %}
    </section>
    <footer>
      <p>
        <a href='https://github.com/myfreeweb/labs/tree/master/www{{ request.path }}'>Source code</a>
      </p>
      <p>
        By <a href='http://floatboth.com' rel='author'>Greg V</a>
      </p>
      <p>
        Using Python packages:
        {% for dep in request.deps %}
          <a href='http://pypi.python.org/pypi/{{ dep }}'>{{ dep }}</a>
        {% end %}
      </p>
      <p>
        Using JavaScript libraries:
          <a href='http://mbostock.github.com/d3/'>D3.js</a>
          <a href='http://leaverou.github.com/prefixfree/'>-prefix-free</a>
          <a href='http://modernizr.com'>modernizr</a>
          <a href='https://github.com/fgnass/spin.js'>spin.js</a>
          <a href='https://github.com/ded/domready'>domready</a>
          <a href='https://github.com/ded/reqwest'>reqwest</a>
          <a href='http://api.html5please.com/'>html5please API</a>
      </p>
      <p>
        Hosted on <a href='http://heroku.com'>Heroku</a>
      </p>
    </footer>
    <script>
      var _gauges=_gauges||[];(function(){var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.id="gauges-tracker",a.setAttribute("data-site-id","4f69d841f5a1f5359700005e"),a.src="//secure.gaug.es/track.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)})();
    </script>
  </body>
</html>
